@model About
@{
    ViewData["Title"] = "About Us";
}

@*Hero Section*@
<section class="py-5 bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>@ViewBag.Title</h1><p class="lead text-muted">Our humble beginnings.</p>
            </div>
            <div class="col-lg-3 text-end order-1 order-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                        <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Home">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<main class="py-5">
    <div class="container py-5">
        <div class="col pb-3">
            <h3>History</h3>

            @{
                if (@Model != null)
                {
                    <p class="text-justify">
                        @Model.History
                    </p>
                }
                else
                {
                    <p class="text-justify">
                        &nbsp;
                    </p>
                }
            }
        </div>
        <div class="col pb-3">
            <h3>Mission</h3>

            @{
                if (@Model != null)
                {
                    <p class="text-justify">
                        @Model.History
                    </p>
                }
                else
                {
                    <p class="text-justify">
                        &nbsp;
                    </p>
                }
            }
        </div>
        <div class="col pb-3">
            <h3>Vision</h3>

            @{
                if (@Model != null)
                {
                    <p class="text-justify">
                        @Model.History
                    </p>
                }
                else
                {
                    <p class="text-justify">
                        &nbsp;
                    </p>
                }
            }
        </div>
    </div>
</main>

<div style="position: fixed; bottom: 10px; right: 10px;">
    <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
</script>