@using Microsoft.AspNetCore.Identity
@model ECommerce1.ViewModel.ProductViewModel
@inject UserManager<User> UserManager
@using ECommerce1.Data.Enums

@{
    ViewData["Title"] = "View Products";
}

@{
    var _IsAdmin = false;
    if (UserManager.GetUserAsync(User).Result != null)
    {
        if (UserManager.GetUserAsync(User).Result.IsAdmin != null)
        {
            if ((bool)UserManager.GetUserAsync(User).Result.IsAdmin) _IsAdmin = true;
        }
        <section class="py-5 bg-light">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-9 order-2 order-lg-1">
                        <h1>@ViewBag.Product.Name</h1>
                    </div>
                    <div class="col-lg-3 text-end order-1 order-lg-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                                <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Home">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="ShopAll">Shop</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Product.Name</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="product position-relative mb-3">
                            @{
                                if (ViewBag.Product.StockStatusId == (int)StockStatusEnum.OutOfStock)
                                {
                                    <div class="ribbon ribbon-warning text-uppercase mt-2">Sold Out</div>
                                }
                                else
                                {
                                    if (ViewBag.Product.IsSale)
                                    {
                                        <div class="ribbon ribbon-primary text-uppercase mt-2">Sale</div>
                                    }
                                }
                            }
                            @*Image Slider*@
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" id="detailSlider">
                                <div class="swiper-wrapper" id="swiper-wrapper-17337bff37810fe60" aria-live="polite" style="transform: translate3d(-1926px, 0px, 0px); transition-duration: 0ms;">
                                    @{
                                        foreach (var image in ViewBag.Product.ProductImages)
                                        {
                                            <div class="swiper-slide" role="group" aria-label="@image.Id / @ViewBag.Product.ProductImages.Count" style="width: 632px; margin-right: 10px;">
                                                <a class="glightbox" href="@String.Format("data:image/jpg;base64,{0}", image.Image)">
                                                    <img class="img-fluid d-block mx-auto" src="@String.Format("data:image/jpg;base64,{0}", image.Image)">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                        @*Thumbnails Slider*@
                        <div class="swiper-container swiper-thumbnails swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-thumbs" id="detailSliderThumb">
                            <div class="swiper-wrapper" id="swiper-wrapper-9c3a11759d92bc85" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                @{
                                    foreach (var image in ViewBag.Product.ProductImages)
                                    {
                                        <div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group" aria-label="@image.Id / @ViewBag.Product.ProductImages.Count" style="width: 70.25px; margin-right: 10px;"><img class="img-fluid d-block mx-auto" src="@String.Format("data:image/jpg;base64,{0}", image.Image)"></div>
                                    }
                                }
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                    @*Item Info*@
                    <div class="col-lg-6">
                        <div class="row mb-4 gy-3">
                            <div class="col-sm-6">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        @{
                                            if (@ViewBag.Product.IsSale)
                                            {
                                                <span class="text-muted"><del>Php @ViewBag.Product.Price</del></span> <span class="h5 text-primary mb-0">Php @ViewBag.Product.PriceOnSale</span>
                                            }
                                            else
                                            {
                                                <span class="h5 text-primary mb-0">Php @ViewBag.Product.Price</span>
                                            }
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center justify-content-sm-end">

                                    @{
                                        if (Model.ProductReviews.Count() > 0)
                                        {
                                            <p class="small text-muted text-uppercase fw-bold mb-0">@Model.ProductReviews.Count() &nbsp; reviews</p>
                                        }
                                        else
                                        {
                                            <p class="small text-muted text-uppercase fw-bold mb-0">No reviews yet</p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                              <p class="text-small text-muted mb-4">@Html.Raw(ViewBag.Product.Description)</p>

                        @{
                            if (ViewBag.Product.StockStatusId != (int)StockStatusEnum.OutOfStock)
                            {
                                <form asp-controller="Cart" asp-action="AddToCart">
                                    @{
                                        if (_IsAdmin != true)
                                        {
                                            <div class="col-7 align-items-center justify-content-start mb-4">
                                                <span class="mb-2">Quantity</span>
                                                <div class="col-7 quantity d-flex align-items-center mt-2">
                                                    <div class="dec-btn" onclick="decrease(this)">-</div>
                                                    <input class="quantity-no" type="text" value="1" asp-for="CartDetails.Quantity" />
                                                    <div class="inc-btn" onclick="increase(this)">+</div>
                                                </div>
                                                <ul class="list-inline d-flex align-items-center my-4">
                                                    <li class="list-inline-item mt-2">
                                                        <span class="mb-2">Colors</span>
                                                        @Html.DropDownListFor(x => Model.CartDetails.ColorId, new SelectList(Model.Colors, "Id", "Title"),
htmlAttributes: new { @class = "form-control", id = "ColorId" })
                                                    </li>
                                                    @if (Model.Size.FirstOrDefault() != null)
                                                    {
                                                        <li class="list-inline-item mt-2">
                                                            <span class="mb-2">Sizes</span>
                                                            @Html.DropDownListFor(x => Model.CartDetails.SizeId, new SelectList(Model.Size, "Id", "Title"),
htmlAttributes: new { @class = "form-control", id = "SizeId" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }}
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <input type="hidden" asp-for="CartDetails.CustomersId" value="@ViewBag.CustomersId" />
                                            <input type="hidden" asp-for="CartDetails.ProductId" value="@ViewBag.Product.Id" />
                                            <input type="hidden" asp-for="Wishlists.CustomersId" value="@ViewBag.CustomersId" />
                                            <input type="hidden" asp-for="Wishlists.ProductId" value="@ViewBag.Product.Id" />
                                            @{
                                                if (_IsAdmin == true)
                                                {
                                                    <a class="btn btn-primary px-5" asp-controller="Products" asp-action="UpdateProduct" asp-route-id="@ViewBag.Product.Id" style="border: none">
                                                        <i class="far fa-edit"></i>&nbsp;Edit Product
                                                    </a>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-primary px-5">
                                                        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                                                            <use xlink:href="#cart-1"> </use>
                                                        </svg>Add to cart
                                                    </button>

                                                    if (ViewBag.IsProductExist)
                                                    {
                                                        <button type="submit" class="btn btn-outline-secondary px-5" formaction="/Cart/AddToWishlist">
                                                            <i class="fas fa-heart me-2"></i>Remove from wishlist
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-outline-secondary px-5" formaction="/Cart/AddToWishlist">
                                                            <i class="far fa-heart me-2"></i>Add to wishlist
                                                        </button>
                                                    }
                                                }
                                            }
                                        </li>
                                    </ul>
                                </form>
                            }
                            else
                            {
                                <p class="h6 text-danger">This product is currently out of stock.</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container pb-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-uppercase text-sm active" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="true">Reviews</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="pt-4">
                            @*Reviews*@
                            <div class="row">
                                <div class="col-xl-9">
                                    @{
                                        if (Model.ProductReviews.Count() > 0)
                                        {
                                            @foreach (var item in Model.ProductReviews)
                                            {
                                                var customerName = item.Customers.FirstName + ' ' + item.Customers.LastName;

                                                <div class="row mb-4">
                                                    <div class="col-3 text-center">
                                                        <img class="rounded-circle d-block mx-auto img-thumbnail p-2 mb-2" src="@string.Format("data:image/jpeg;base64,{0}",@item.Customers.Image)" alt="@customerName" width="120">
                                                        <span class="text-uppercase text-muted small fw-normal">@item.ReviewDate.ToShortDateString()</span>
                                                    </div>
                                                    <div class="col-9 review-text">
                                                        <h6>@customerName</h6>
                                                        <div class="mb-2">
                                                            @{

                                                                <ul class="list-inline mb-0 me-3 small">
                                                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-primary"></i>&nbsp;@item.Rating.ToString("#.0") / 5.0</li>
                                                                </ul>
                                                            }
                                                            <div class="result"></div>

                                                        </div>
                                                        <p class="text-muted text-sm">@item.Review</p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="d-flex me-2">
                                                <div class="ms-2">
                                                    <h4 class="mb-1">No reviews yet.</h4>
                                                    <p class="small text-gray-6 mb-1">How do you find this product? Be the first to share your thoughts.</p>
                                                </div>
                                            </div>
                                        }

                                        if (_IsAdmin != true)
                                        {
                                            <div class="my-3">
                                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#ReviewModal" onclick="ShowReviewModal();">
                                                    Add a review
                                                </button>
                                            </div>
                                        }

                                        @*Review Modal*@
                                        <div class="modal fade" id="ReviewModal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog">
                                                <form asp-controller="Products" asp-action="CreateReview" asp-route-id="@ViewBag.Product.Id">
                                                    <input type="hidden" asp-for="CustomersId" value="@ViewBag.CustomersId" />
                                                    <input type="hidden" asp-for="ProductId" value="@ViewBag.Product.Id" />
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Add a Review</h4>
                                                            <a class="btn btn-default text-right" data-dismiss="modal" onclick="CloseModal()">×</a>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>How do you find this product?</p>
                                                            <textarea class="rounded form-control" rows="6" asp-for="Review"></textarea>
                                                            <label class="form-label">Rating</label>
                                                            <input class="form-control" type="number" max="5" min="1" value="1" asp-for="Rating" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Submit Review</button>
                                                            <a class="btn btn-outline-dark" data-dismiss="modal" onclick="CloseModal()">Close</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div style="position: fixed; bottom: 10px; right: 10px;">
            <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
        </div>
    }
}

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }

    function ShowReviewModal() {
        $('#ReviewModal').modal('show');
    }

    function CloseModal() {
        $('#ReviewModal').modal('hide');
    }
</script>
