@model ECommerce1.ViewModel.CustomerViewModel
@{
    ViewData["Title"] = "My Profile";
}
<section class="py-5 bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-lg-3 text-end order-1 order-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                        <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Home">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-4">
        <div class="row gx-5 gy-5">
            @*Sidebar*@
            <div class="col-xl-3 col-lg-4">
                <div class="bg-light text-center p-4 rounded-top-lg border border-bottom-0">
                    <div class="product">
                        <div class="image d-flex align-items-center justify-content-center">
                            <img id="imgOutput" class="img-fluid rounded-circle img-thumbnail p-2 mb-3" src="@string.Format("data:image/jpeg;base64,{0}", Model.Image)" width="150">
                            <div class="hover-overlay d-flex align-items-center justify-content-center">
                                <div class="CTA d-flex align-items-center justify-content-center">
                                    <label for="inptImageUpload" class="btn btn-link active">
                                        <i class="fas fa-upload"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        @{
                            var customerName = ViewBag.Customer.FirstName + ' ' + ViewBag.Customer.LastName;
                            <h5>@customerName</h5>
                        }
                    </div>
                </div>
                <nav class="list-group">
                    <a class="active list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Index" aria-current="true">
                        <span class="fw-normal text-sm py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#user-1"> </use>
                            </svg>Profile
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Orders">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#shopping-bag-1"> </use>
                            </svg>Orders
                        </span><small class="badge rounded-pill bg-light text-dark">@ViewBag.OrderCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Returns">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="fas fa-undo"></i>&nbsp;&nbsp;&nbsp;Returns/Exchange
                        </span>
                        <small class="badge rounded-pill bg-light text-dark">@ViewBag.ReturnsCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Wishlist">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;Wishlist
                        </span>
                        <small class="badge rounded-pill bg-light text-dark">@ViewBag.WishlistCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Messages" aria-current="true">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;Messages
                        </span><small class="badge rounded-pill bg-light text-dark">@ViewBag.MessagesCount</small>
                    </a>

                    @*<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Addresses">
                            <span class="fw-normal text-sm text-dark py-1">
                                <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#map-marker-1"> </use>
                                </svg>Addresses
                            </span>
                        </a>*@

                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Home" asp-action="SignOut">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#key-1"> </use>
                            </svg>Log out
                        </span>
                    </a>
                </nav>
            </div>

            @*Profile*@
            <div class="col-lg-8 col-xl-9">
                <div class="form-group ml-5">
                    <form asp-action="Index" enctype="multipart/form-data" class="hidden">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div style="display:none;">
                            <input id="inptImageUpload" type="file" accept="image/*" name="image" />
                            <input id="Image" asp-for="Image" class="form-control" />
                        </div>

                        <div class="bg-light rounded-pill px-4 py-3 mb-3">
                            <h5 class="mb-0">Personal details</h5>
                        </div>

                        <div class="row gy-3">
                            <div class="col-sm-6 ">
                                <input asp-for="Id" value="@Model.Id" type="hidden" />
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Birthday" class="control-label"></label>
                                <input asp-for="Birthday" class="form-control" id="date" placeholder="MM/DD/YYY" type="date" />
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="GenderId" class="control-label"></label>
                                <div>
                                    @Html.DropDownListFor(x => Model.GenderId, new SelectList(Model.Genders, "Id", "AlternateTitle"), htmlAttributes: new { @class = "form-control", id = "GenderId", @value = Model.GenderId })
                                    @Html.ValidationMessageFor(x => x.GenderId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 ">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="bg-light rounded-pill px-4 py-3 mb-3 mt-3">
                            <h5 class="mb-0">Contact Information</h5>
                        </div>

                        <div class="row gy-3">
                            <div class="col-sm-6 ">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" disabled />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 ">
                                <label asp-for="ContactNumber" class="control-label"></label>
                                <input asp-for="ContactNumber" class="form-control" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="bg-light rounded-pill px-4 py-3 mb-3 mt-3">
                            <h5 class="mb-0">Address Details</h5>
                        </div>

                        <div class="row gy-3">
                            <div class="col-sm-6 ">
                                <label asp-for="AddressBlock" class="control-label"></label>
                                <input asp-for="AddressBlock" class="form-control" />
                                <span asp-validation-for="AddressBlock" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 ">
                                <label asp-for="AddressLot" class="control-label"></label>
                                <input asp-for="AddressLot" class="form-control" />
                                <span asp-validation-for="AddressLot" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 ">
                                <label asp-for="AddressBaranggay" class="control-label"></label>
                                <input asp-for="AddressBaranggay" class="form-control" />
                                <span asp-validation-for="AddressBaranggay" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 ">
                                <label asp-for="AddressCity" class="control-label"></label>
                                <input asp-for="AddressCity" class="form-control" />
                                <span asp-validation-for="AddressCity" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center mt-4">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-save me-2"></i>Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="position: fixed; bottom: 10px; right: 10px;">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</section>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }

    //Start - image

    var inptImageUpload = document.querySelector("#inptImageUpload");

    // listen for the change event so we can capture the file
    inptImageUpload.addEventListener("change", (e) => {
        // get a reference to the file
        const file = e.target.files[0];

        // encode the file using the FileReader API
        const reader = new FileReader();
        reader.onloadend = () => {
            const base64String = reader.result
                .replace("data:", "")
                .replace(/^.+,/, "");

            document.getElementById('imgOutput').setAttribute('src', reader.result);
            document.getElementById("Image").value = reader.result;

        };
        reader.readAsDataURL(file);
    });

    //End - image
</script>