@model IEnumerable<OrderDetails> 
@{
    ViewData["Title"] = "Your Orders";
    ViewData["User"] = "Test Customer";
}

<section class="py-5 bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-lg-3 text-end order-1 order-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                        <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-4">
        <div class="row gx-5 gy-5">
            <!-- Customer Sidebar-->
            <div class="col-xl-3 col-lg-4">
                <div class="bg-light text-center p-4 rounded-top-lg border border-bottom-0">
                    <a class="d-inline-block" href="#"><img class="img-fluid rounded-circle img-thumbnail p-2 mb-3" src="https://d19m59y37dris4.cloudfront.net/hub/2-0/img/person-3.28271a04.jpg" width="150" alt="..."></a>
                    <h5>@ViewBag.User</h5>
                    <p class="text-muted text-small">Ostrava, Czech republic</p>
                </div>
                <nav class="list-group">
                    <a class="active list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Orders" aria-current="true">
                        <span class="fw-normal text-sm py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#shopping-bag-1"> </use>
                            </svg>Orders
                        </span><small class="badge rounded-pill bg-light text-dark">@Model.Count()</small>
                    </a><a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Index">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#user-1"> </use>
                            </svg>Profile
                        </span>
                    </a><a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Addresses">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#map-marker-1"> </use>
                            </svg>Addresses
                        </span>
                    </a><a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Home" asp-action="SignIn">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#key-1"> </use>
                            </svg>Log out
                        </span>
                    </a>
                </nav>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-light border-top">Order</th>
                                <th class="border-light border-top">Date</th>
                                <th class="border-light border-top">Total</th>
                                <th class="border-light border-top">Status</th>
                                <th class="border-light border-top">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.TransactionId</th>
                                    <td>@item.OrderDate</td>
                                    <td>@item.ItemSubTotal</td>
                                    <td><span class="badge bg-info">Confirmed</span></td>
                                    <td><a class="btn btn-primary btn-sm" asp-controller="Profile" asp-action="Orders">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>