@model ECommerce1.ViewModel.MessageViewModel
@{
    ViewData["Title"] = "Messages";
}

<section class="py-5 bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-lg-3 text-end order-1 order-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                        <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Home">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-4">
        <div class="row gx-5 gy-5">
            @*Sidebar*@
            <div class="col-xl-3 col-lg-4">
                <div class="bg-light text-center p-4 rounded-top-lg border border-bottom-0">
                    <div class="product">
                        <div class="image d-flex align-items-center justify-content-center">
                            <img id="imgOutput" class="img-fluid rounded-circle img-thumbnail p-2 mb-3" src="@string.Format("data:image/jpeg;base64,{0}", ViewBag.Customer.Image)" width="150">
                        </div>
                        @{
                            var customerName = ViewBag.Customer.FirstName + ' ' + ViewBag.Customer.LastName;
                            <h5>@customerName</h5>
                        }
                    </div>
                </div>
                <nav class="list-group">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Index" aria-current="true">
                        <span class="fw-normal text-sm py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#user-1"> </use>
                            </svg>Profile
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Orders">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#shopping-bag-1"> </use>
                            </svg>Orders
                        </span><small class="badge rounded-pill bg-light text-dark">@ViewBag.OrderCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Returns">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="fas fa-undo"></i>&nbsp;&nbsp;&nbsp;Returns/Exchange
                        </span>
                        <small class="badge rounded-pill bg-light text-dark">@ViewBag.ReturnsCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Wishlist">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;Wishlist
                        </span>
                        <small class="badge rounded-pill bg-light text-dark">@ViewBag.WishlistCount</small>
                    </a>
                    <a class="active list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Messages" aria-current="true">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;Messages
                        </span>
                    </a>
                    @*<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Addresses">
                            <span class="fw-normal text-sm text-dark py-1">
                                <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#map-marker-1"> </use>
                                </svg>Addresses
                            </span>
                        </a>*@
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Home" asp-action="SignOut">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#key-1"> </use>
                            </svg>Log out
                        </span>
                    </a>
                </nav>
            </div>
            <div class="col-lg-5 col-xl-9 gx-5">
                <div class="row d-flex justify-content-lg-between">
                    <form asp-controller="Profile" asp-action="CreateMessage">
                        <div class="row d-flex justify-content-between pb-3">
                            <div class="col-11">
                                <input type="hidden" asp-for="MessageId" value="@Model.MessageId" />
                                <input type="hidden" asp-for="SenderId" value="@Model.SenderId" />
                                <input asp-for="MessageBody" type="text" class="form-control" placeholder="Message" />
                            </div>

                            <div class="col-1 d-flex justify-content-end">
                                <button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Send">
                                    <i class="far fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="col-xl-12">
                        @{
                            if (Model.Messages.Count() != 0)
                            {
                                @foreach (var item in Model.Messages.OrderByDescending(x => x.DateSent))
                                {
                                    var sender = item.Sender.FirstName + ' ' + item.Sender.LastName;

                                    <div class="row mb-4">
                                        <div class="col-1 align-self-center">
                                            <img class="rounded-circle d-block mx-auto img-thumbnail p-2 mb-2" src="@item.Sender.Image" alt="@sender" width="45">
                                        </div>
                                        <div class="col-11">
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-9">
                                                    <span class="h6">@sender</span>
                                                </div>
                                                <div class="col-3 text-end">
                                                    <span class="small fw-lighter">@item.DateSent</span>
                                                </div>
                                            </div>
                                            <p class="text-muted">@item.MessageBody</p>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="d-flex me-2">
                                    <div class="ms-2">
                                        <h4 class="mb-1">No messages yet.</h4>
                                        <p class="small text-gray-6 mb-1">Send us a message. We would like to hear from you. </p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="position: fixed; bottom: 10px; right: 10px;">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</section>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }

    function ShowMessageModal() {
        $('#MessageModal').modal('show');
    }

    function CloseModal() {
        $('#MessageModal').modal('hide');
    }
</script>