@model IEnumerable<Wishlist>
@{
    ViewData["Title"] = "My Wishlist";
}

<section class="py-5 bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-lg-3 text-end order-1 order-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                        <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Home">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-4">
        <div class="row gx-5 gy-5">
            @*Sidebar*@
            <div class="col-xl-3 col-lg-4">
                <div class="bg-light text-center p-4 rounded-top-lg border border-bottom-0">
                    @{
                        var customerName = ViewBag.Customer.FirstName + ' ' + ViewBag.Customer.LastName;

                        <a class="d-inline-block" href="#"><img class="img-fluid rounded-circle img-thumbnail p-2 mb-3" src="@ViewBag.Customer.Image" width="150" alt="@customerName"></a>
                        <h5>@customerName</h5>
                        <p class="text-muted text-small">@ViewBag.Customer.AddressCity</p>
                    }
                </div>
                <nav class="list-group">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Index" aria-current="true">
                        <span class="fw-normal text-sm py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#user-1"> </use>
                            </svg>Profile
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Orders">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#shopping-bag-1"> </use>
                            </svg>Orders
                        </span><small class="badge rounded-pill bg-light text-dark">@ViewBag.OrderCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Returns">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="fas fa-undo"></i>&nbsp;&nbsp;&nbsp;Returns/Exchange
                        </span>
                        <small class="badge rounded-pill bg-light text-dark">@ViewBag.ReturnsCount</small>
                    </a>
                    <a class="active list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Wishlist">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;Wishlist
                        </span>
                        <small class="badge rounded-pill bg-light text-dark">@Model.Count()</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0" asp-controller="Profile" asp-action="Messages" aria-current="true">
                        <span class="fw-normal text-sm text-dark py-1">
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;Messages
                        </span><small class="badge rounded-pill bg-light text-dark">@ViewBag.MessagesCount</small>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Profile" asp-action="Addresses">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#map-marker-1"> </use>
                            </svg>Addresses
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-controller="Home" asp-action="SignOut">
                        <span class="fw-normal text-sm text-dark py-1">
                            <svg class="svg-icon me-2 svg-icon-sm svg-icon-heavy">
                                <use xlink:href="#key-1"> </use>
                            </svg>Log out
                        </span>
                    </a>
                </nav>
            </div>
            @{
                if (Model.Count() > 0)
                {
                    <div class="col-lg-8 col-xl-9">
                        <div class="cart-inner">
                            <div class="bg-light rounded-pill px-4 py-3">
                                <div class="row fw-bold text-uppercase">
                                    <div class="col-7">Product</div>
                                    <div class="col-2 text-center">Price</div>
                                    <div class="col-2 text-center">Action</div>
                                </div>
                            </div>
                            @foreach (var item in Model)
                            {
                                <div class="p-4 border-bottom">
                                    <div class="row d-flex align-items-center bord">
                                        <div class="col-7">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="@String.Format("data:image/jpg;base64,{0}", item.Product.Image)" alt="@item.Product.Name" width="75">
                                                <div class="ms-3">
                                                    <a asp-controller="StoreFront" asp-action="ViewProduct" asp-route-id="@item.ProductId">
                                                        <h5 class="mb-0 text-dark fw-normal">@item.Product.Name</h5><span class="text-muted">Size: Large</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 text-center">
                                            @{
                                                if (item.Product.IsSale)
                                                { <span>Php @item.Product.PriceOnSale</span> }
                                            else
                                            { <span>Php @item.Product.Price</span> }
                                            }
                                        </div>
                                        <div class="col-2 text-center">
                                            <a class="add btn btn-link text-dark p-0" asp-controller="Cart" asp-action="AddToCartFromWishlist" asp-route-id="@item.ProductId">
                                                <i class="fas fa-cart-plus"></i>
                                            </a>
                                            <a class="delete btn btn-link text-dark p-0" asp-controller="Cart" asp-action="RemoveFromWishlist" asp-route-id="@item.ProductId">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-8 col-xl-9">
                        <div class="cart-inner">
                            <h2 class="mb-1">Your wishlist is empty.</h2>
                            <p class="text-gray-6 mb-3">Don't miss your chance! Start shopping now.</p>

                            <a class="btn btn-danger" asp-controller="StoreFront" asp-action="Home">Go to Home</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div style="position: fixed; bottom: 10px; right: 10px;">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</section>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
</script>