@model ECommerce1.ViewModel.RoleViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using ECommerce1.Data

@{
    ViewData["Title"] = "Roles Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    @*Breadcrumbs*@
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewBag.Title</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right px-3 py-2">
                        <li class="breadcrumb-item"><a asp-controller="Administrator" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    @*Content*@
    <section class="content">
        <div class="container-fluid">
            @*Search*@
            <div class="row d-flex justify-content-between">
                <input id="inptSearch" class="form-control w-50" placeholder="Search" />
                <div class="col">
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Create)).Result.Succeeded)
                    {
                        <a asp-controller="Roles" asp-action="CreateRole" class="btn btn-info float-right" type="button">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Roles
                        </a>
                    }
                </div>
            </div>

            @*Grid View*@
            <div id="dvGrid" class="row mt-3">
                <div class="d-flex justify-content-lg-around">
                    <div class="col-xl-12 col-lg-12">
                        <div class="cart-inner" id="dtRoleList">
                            <div class="border-top border-bottom py-2">
                                <div class="row text-uppercase">
                                    <div class="col-3"><strong class="small">Id</strong></div>
                                    <div class="col-2"><strong class="small">Name</strong></div>
                                    <div class="col-2 text-center"><strong class="small">Action</strong></div>
                                </div>
                            </div>
                            @foreach (var item in Model.PaginatedList())
                            {
                                <div class="row-item pt-4 pb-4 border-bottom">
                                    <div class="row">
                                        <div class="item col-3">@item.Id</div>
                                        <div class="item col-3">@item.Name</div>
                                        <div class="item col-2 text-center">

                                            @{
                                                switch (item.Name.ToLower())
                                                {
                                                    case "admin":
                                                    case "employee":
                                                    case "basic":
                                                        <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="ViewRole" asp-route-id="@item.Id" title="View Role">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                        <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-controller="Permission" asp-action="Index" asp-route-id="@item.Id" title="Manage Permission">
                                                            <i class="fas fa-cogs"></i>
                                                        </a>
                                                        break;
                                                    default:
                                                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Edit)).Result.Succeeded)
                                                        {
                                                            <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="UpdateRole" asp-route-id="@item.Id" title="Update Role">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        }
                                                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Roles.ManagePermission)).Result.Succeeded)
                                                        {
                                                            <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-controller="Permission" asp-action="Index" asp-route-id="@item.Id" title="Manage Permission">
                                                                <i class="fas fa-cogs"></i>
                                                            </a>
                                                        }
                                                        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Roles.Delete)).Result.Succeeded)
                                                        {
                                                            <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="DeleteRole" asp-route-id="@item.Id" title="Delete Role">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        }

                                                        break;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @*Pagination*@
            <div class="row">
                <div class=" d-flex justify-content-between px-4 py-3 w-100">
                    <div class="hint-text">Showing <b>@Model.PaginatedList().Count()</b> out of <b>@Model.RoleList.Count()</b> entries</div>
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.PageCount(); i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div style="position: fixed; bottom: 10px; right: 10px">
                <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </section>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    $(document).ready(function () {
        $("#inptSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dtRoleList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("#btnGrid").click(function () {
            $("#dvThumbnail").hide();
            $("#dvGrid").show();
        });

        $("#btnThumbnail").click(function () {
            $("#dvGrid").hide();
            $("#dvThumbnail").show();
        });
    });
</script>