@model IEnumerable<OrderDetails>

@{
    ViewData["Title"] = "Manage Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid main-container">
    <div class="row">
        <h2>Order Management</h2>
    </div>

    <div class="row mt-3" style="margin-left: -30px" width="auto">
        <div class="col-9">
            @*Grid View*@
            <div id="dvGrid" class="table-responsive-md">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Customer Name</th>
                            <th>Mode of Payment</th>
                            <th>Status</th>
                            <th>Delivery Status</th>
                            <th>Order Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.TransactionId</td>
                            <td>@item.CustomerName</td>
                            <td>@item.ModeOfPayment</td>
                            <td>
                                <span class="status text-success">&bull;</span> Confirmed
                            </td>
                            <td><span class="status text-success">&bull;</span> Confirmed</td>
                            <td>@item.OrderDate</td>
                            <td>
                                <a asp-action="UpdateOrder" asp-route-id="@item.Id"><i class="fas fa-pencil-alt">&#xE8B8;</i></a>
                                @*<a asp-action="DeleteProduct" asp-route-id="@item.Id"><i class="fas fa-trash-alt">&#xE5C9;</i></a>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>


        @*Statistics*@
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-title m-auto">
                    <span class="h2 font-weight-bold">Stock Count</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        @*Delivered*@
                        <div class="col-auto">
                            <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <span class="card-title text-uppercase text-muted mb-0">Delivered <br /></span>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                    </div>
                    <div class="row">
                        @*In-Transit*@
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-sync-alt"></i>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <h5 class="card-title text-uppercase text-muted mb-0">In-Transit</h5>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                    </div>
                    <div class="row">
                        @*Out For Delivery*@
                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <h5 class="card-title text-uppercase text-muted mb-0">Out For Delivery</h5>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position: fixed; bottom: 10px; right: 10px">
        <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("#btnGrid").click(function () {
            $("#dvThumbnail").hide();
            $("#dvGrid").show();
        });

        $("#btnThumbnail").click(function () {
            $("#dvGrid").hide();
            $("#dvThumbnail").show();
        });
    });

</script>