@model IEnumerable<Cart>

@{
    ViewData["Title"] = "Checkout";
}
<section class="py-5 bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>@ViewBag.Title</h1>
                @if (Model != null)
                {
                    <p class="lead text-muted">
                        You currently have @ViewBag.Cart.Count item(s) in your basket
                    </p>
                }
                else
                {
                    <p class="lead text-muted">
                        You currently have 0 item(s) in your basket
                    </p>
                }
            </div>
            <div class="col-lg-3 text-end order-1 order-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-4 justify-content-lg-end mb-0">
                        <li class="breadcrumb-item"><a asp-controller="StoreFront" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
@if (Model != null)
{
    <section class="py-5">
        <div class="container py-5">
            <div class="row gy-5 gx-5">
                <div class="col-lg-8">
                    <ul class="nav nav-pills rounded-lg-pill flex-column flex-lg-row nav-fill pills-lg-rounded list-separated-lg-secondary mb-5">
                        <li class="nav-item my-1 my-lg-0"><a class="nav-link py-3 small text-uppercase" asp-controller="Cart" asp-action="Checkout">Address</a></li>
                        <li class="nav-item my-1 my-lg-0"><a class="nav-link py-3 small text-uppercase" asp-controller="Cart" asp-action="DeliveryMethod">Delivery Method </a></li>
                        <li class="nav-item my-1 my-lg-0 active"><a class="nav-link py-3 small text-uppercase active" asp-controller="Cart" asp-action="PaymentMethod">Payment Method </a></li>
                        <li class="nav-item my-1 my-lg-0"><a class="nav-link py-3 small text-uppercase disabled" href="#">Order Review</a></li>
                    </ul>
                    <div id="payment-method">
                        <div class="accordion accordion-flush mb-5" id="paymentAccordion">
                            <div class="accordion-item border-bottom-0 mb-3">
                                <h5 class="accordion-header mb-0 px-3 rounded-pill bg-light" id="payment-headingOne">
                                    <button class="accordion-button border-0 shadow-0 bg-light text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapseOne" aria-expanded="true" aria-controls="payment-collapseOne"> <span class="fw-normal">Credit Card</span></button>
                                </h5>
                                <div class="accordion-collapse border-0 collapse show" id="payment-collapseOne" aria-labelledby="payment-headingOne" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <form class="p-3" action="#">
                                            <div class="row gy-3">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="card-name">Name on Card</label>
                                                    <input class="form-control" type="text" name="card-name" placeholder="Name on card" id="card-name">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label" for="card-number">Card Number</label>
                                                    <input class="form-control" type="text" name="card-number" placeholder="Card number" id="card-number">
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label" for="expiry-date">Expiry Date</label>
                                                    <input class="form-control" type="text" name="expiry-date" placeholder="MM/YY" id="expiry-date">
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label" for="cvv">CVC/CVV</label>
                                                    <input class="form-control" type="text" name="cvv" placeholder="123" id="cvv">
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label" for="zip">ZIP</label>
                                                    <input class="form-control" type="text" name="zip" placeholder="123" id="zip">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-bottom-0 mb-3">
                                <h5 class="accordion-header mb-0 px-3 rounded-pill bg-light" id="payment-headingTwo">
                                    <button class="accordion-button border-0 shadow-0 bg-light text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapseTwo" aria-expanded="false" aria-controls="payment-collapseTwo"> <span class="fw-normal">Paypal</span></button>
                                </h5>
                                <div class="accordion-collapse border-0 collapse" id="payment-collapseTwo" aria-labelledby="payment-headingTwo" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <div class="p-3">
                                            <input class="form-check-input" id="payment-method-1" type="radio" name="payment-method">
                                            <label class="form-check-label ms-2" for="payment-method-1"><strong>Continue with Paypal</strong><br><span class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-bottom-0">
                                <h5 class="accordion-header mb-0 px-3 rounded-pill bg-light" id="payment-headingThree">
                                    <button class="accordion-button border-0 shadow-0 bg-light text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapseThree" aria-expanded="false" aria-controls="payment-collapseThree"> <span class="fw-normal">Pay on delivery</span></button>
                                </h5>
                                <div class="accordion-collapse border-0 collapse" id="payment-collapseThree" aria-labelledby="payment-headingThree" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <div class="p-3">
                                            <input class="form-check-input" id="payment-method-2" type="radio" name="payment-method">
                                            <label class="form-check-label ms-2" for="payment-method-2"><strong>Pay on delivery</strong><br><span class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-column flex-lg-row">
                            <a class="btn btn-outline-secondary px-sm-5 my-1" asp-controller="Cart" asp-action="DeliveryMethod"> <i class="fas fa-angle-left me-2"></i>Back to delivery method</a>
                            <a class="btn btn-primary px-sm-5 my-1" asp-controller="Cart" asp-action="OrderReview">Continue to order review<i class="fas fa-angle-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card rounded-0">
                        <div class="card-body px-4 py-5">
                            <h6 class="text-uppercase">Order Summary</h6>
                            <p class="fw-normal text-muted">Shipping and additional costs are calculated based on values you have entered</p>
                            <ul class="list-unstyled">
                                @foreach (var item in Model)
                                {
                                    var total = item.Product.Price * item.Quantity;
                                    <li class="d-flex justify-content-between py-3 border-bottom"><span>Order Subtotal </span><strong class="fw-normal">Php @total</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><span>Shipping and handling</span><strong class="fw-normal">Php 0.00</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><span>Tax</span><strong class="fw-normal">Php 0.00</strong></li>
                                    <li class="d-flex justify-content-between py-3 border-bottom"><span>Total</span><strong class="text-primary h5 mb-0">Php @total</strong></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="py-5">
        <div class="container py-5">
            <div class="item col-xl-12">
                <h2 class="mb-1">Oh no! Your cart is empty.</h2>
                <p class="text-gray-6 mb-1">Don't miss your chance! Start shopping now.</p>
            </div>
        </div>
    </section>
}

<div style="position: fixed; bottom: 10px; right: 10px;">
    <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
</script>
