@model ECommerce1.ViewModel.MessageViewModel
@using ECommerce1.Data.Enums

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    @*Breadcrumbs*@
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewBag.Title</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right px-3 py-2">
                        <li class="breadcrumb-item"><a asp-controller="Administrator" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    @*Content*@
    <section class="content">
        <div class="container-fluid">
            @*Search*@
            <div class="row d-flex justify-content-between">
                <input id="inptSearch" class="form-control w-100" placeholder="Search" />
            </div>

            @*Grid View*@
            <div id="dvGrid" class="row mt-3">
                <div class="d-flex justify-content-lg-around">
                    <div class="col-xl-12 col-lg-12" id="dtMessages">
                        @{
                            if (Model.Messages.Count() != 0)
                            {
                                @foreach (var item in Model.Messages.OrderByDescending(x => x.DateSent))
                                {
                                    var sender = item.Sender.FirstName + ' ' + item.Sender.LastName;

                                    <div class="row-item row mb-4">
                                        <div class="col-2 align-self-center">
                                            <img class="rounded-circle d-block mx-auto img-thumbnail p-2 mb-2" src="@item.Sender.Image" alt="@sender" width="75">
                                            <h6 class="text-center">@sender</h6>
                                        </div>

                                        <div class="col-10">
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-9">
                                                    <p class="h5 text-muted">@item.Subject</p>
                                                </div>
                                                <div class="col-3 text-end">
                                                    <span class="small fw-lighter">@item.DateSent</span>
                                                </div>
                                            </div>
                                            <p class="text-muted">@item.MessageBody</p>
                                            <a class="btn btn-outline-danger btn-sm" asp-controller="Administrator" asp-action="ViewMessage" asp-route-id="@item.MessageId">
                                                See Conversation
                                            </a>
                                        </div>
                                    </div>

                                    <hr />
                                }
                            }
                            else
                            {
                                <div class="d-flex me-2">
                                    <div class="ms-2">
                                        <h4 class="mb-1">No messages yet.</h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div style="position: fixed; bottom: 10px; right: 10px">
                <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </section>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    $(document).ready(function () {
        $("#inptSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dtMessages .row-item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            $("#dvThumbnail .item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>