@model Product

@{
    ViewData["Title"] = "Add New Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row text">
    <div class="col-md-10 offset-md-1">
        <p>
            <h4>Add Product</h4>
        </p>

        <div class="form-group">
            <form asp-action="CreateProduct" enctype="multipart/form-data" class="hidden">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input type="submit" value="Save" class="btn btn-success float-right" />

                <div id="accordion">
                    <div class="card mt-2">
                        <div class="card-header" id="headingOne">
                            <b>PRIMARY INFORMATION</b>
                            <a class="btn btn-link float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="far fa-plus-square"></i>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                @*Primary Info*@
                                <div class="row form-group">

                                    <div class="col col-md-8">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>


                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" rows="4" />
                                        <span asp-validation-for="Description" class="text-danger"></span>

                                        <label asp-for="ProductCategoryId" class="control-label"></label>
                                        <div>
                                            <select class="form-control" id="selectionCategories" asp-for="ProductCategoryId" >
                                                @foreach (var item in Model.ProductCategories)
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            </select>
                                        </div>

                                        <label asp-for="GenderId" class="control-label"></label>
                                        <div>
                                            <select class="form-control" asp-for="GenderId">
                                                @foreach (var item in Model.Genders)
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col col-md-4">

                                        <label asp-for="StatusId" class="control-label"></label>
                                        <div>
                                            <select class="form-control" asp-for="StatusId" disabled>
                                                @foreach (var item in Model.Statuses)
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            </select>
                                        </div>
                                        <label class="control-label">Stock Status</label>
                                        <div>
                                            <select class="form-control" asp-for="StockStatusId" disabled>
                                                @foreach (var item in Model.StockStatuses)
                                                {
                                                    <option value="@item.Id">@item.Title</option>
                                                }
                                            </select>
                                        </div>

                                        <label asp-for="Price" class="control-label"></label>
                                        <input asp-for="Price" class="form-control" type="number" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <b>VARIANTS</b>
                            <a class="btn btn-link float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                <i class="far fa-plus-square"></i>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <button type="button" class="btn btn-info text-white" data-toggle="modal" data-target="#myModal" onclick="OpenAddPopup();">Add Variant</button><br /><br />
                                <table class="table order-list" id="dtVariant">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Color</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody" id="bodyVariant">
                                        @*@foreach (var itemVariant in Model.ProductVariants)
                                        {
                                            <tr>
                                                <td class="col-sm-4">
                                                    <label class="control-label">Size</label>
                                                    <span>@itemVariant.SizeId</span>
                                                    
                                                </td>
                                                <td class="col-sm-4">
                                                    <span>@itemVariant.ColorId</span>
                                                  
                                                </td>
                                                <td class="col-sm-4">
                                                    <span>@itemVariant.Quantity</span>
                                                   
                                                </td>
                                            </tr>
                                        }*@
                                    </tbody>
                                </table>


                                @*Start - BootsTrap Model Popup for Adding and Updating the Variant Record *@
                            <div class="modal fade" id="AddUpdateModelVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabelVariant" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            @*<h4 class="modal-title" id="AddUpdateModelVariantLabel">Add Variant</h4>*@
                                        </div> 
                                        <div class="modal-body">
                                            @* hidden filed for storing Id *@
                                            <input id="hfproductvariantid" />
                                            <div class="form-group">
                                                <label class="control-label">Size</label>
                                                @Html.DropDownListFor(x => Model.SizeId, new SelectList(Model.Sizes, "Id", "Title"), htmlAttributes: new { @class = "form-control", id = "SizeId" })
                                                @Html.ValidationMessageFor(x => x.SizeId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Color</label>
                                                @Html.DropDownListFor(x => Model.ColorId, new SelectList(Model.Colors, "Id", "Title"), htmlAttributes: new { @class = "form-control", id = "ColorId" })
                                                @Html.ValidationMessageFor(x => x.ColorId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Quantity</label>
                                                <input type="number" min="1" id="Quantity" name="Quantity" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnAddVariant" onclick="return AddVariant();">Add Variant</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>

</div>
                                </div>
                            </div>
                            @*End *@
                            </div>
                            </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#ImageFile").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        });

        //add image
        $(document).ready(function () {
            var counter = 0;

            $("#addimage").on("click", function () {
                var newRow = $("<tr>");
                var cols = "";

                cols += '<td class="text-center"><img id="ImagePreview" src="~/images/default-image.png" style="width:15em; height:15em"' + counter + '"/></td>';
                cols += '<td><input asp-for="ImageFile" accept="image/*" class="form-control-file"' + counter + '/></td>';
                cols += '<td><input type="button" class="ibtnDelImage btn btn-md btn-danger" value="Delete"></td>';
                newRow.append(cols);

                $("table.order-list.tblImages").append(newRow);
                counter++;
            });

            $("table.order-list.tblImages").on("click", ".ibtnDelImage", function (event) {
                $(this).closest("tr").remove();
                counter -= 1
            });
        });

        //start - variant
        function OpenAddPopup() {
            //title text
            $("#AddUpdateModelVariantLabel").text("Add Variant")
            //clear all input
            ClearAllInput();
            //open popup
            $('#AddUpdateModelVariant').modal('show');
        }

        function ClearAllInput() {
            $('#hfproductvariantid').val("");
            $('#SizeId').val("");
            $('#ColorId').val("");
            $('#Quantity').val("");
        }

        function ValidateUserInput() {
            var isValid = true;
            if ($('#SizeId').val() == null) {
                $('#SizeId').css('border-color', 'Red');
                isValid = false;
            } else {
                $('#SizeId').css('border-color', 'lightgrey');
            }

            if ($('#ColorId').val() == null) {
                $('#ColorId').css('border-color', 'Red');
                isValid = false;
            } else {
                $('#ColorId').css('border-color', 'lightgrey');
            }

            if ($('#Quantity').val() == "") {
                $('#Quantity').css('border-color', 'Red');
                isValid = false;
            } else {
                if ($('#Quantity').val() == "0") {
                    $('#Quantity').css('border-color', 'Red');
                    isValid = false;
                } else {
                    $('#Quantity').css('border-color', 'lightgrey');
                }
               
            }
            
            return isValid
        }

        function AddVariant() {
            var res = ValidateUserInput();
            if (res == false) {
                return false;
            }

            var variantObj = {
                Id: $('#hfproductvariantid').val(),
                PatientName: $('#SizeId').val(),
                ColorId: $('#ColorId').val(),
                Quantity: $('#Quantity').val(),
            }

            alert(variantObj.PatientName);
            
        }
        //End - variant
    </script>
}

