@model ECommerce1.ViewModel.ProductViewModel
@using ECommerce1.Data.Enums

@{
    ViewData["Title"] = "Product Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    @*Breadcrumbs*@
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewBag.Title</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right px-3 py-2">
                        <li class="breadcrumb-item"><a asp-controller="Administrator" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    @*Content*@
    <section class="content">
        <div class="container-fluid">
            @*Search*@
            <div class="row d-flex justify-content-between">
                <input id="inptSearch" class="form-control w-50" placeholder="Search" />
                <div class="col">
                    <a asp-controller="Products" asp-action="CreateProduct" class="btn btn-info float-right" type="button">
                        <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Product
                    </a>
                    <button id="btnGrid" class="btn btn-info" type="button"><i class="fas fa-list"></i></button>
                    <button id="btnThumbnail" class="btn btn-info" type="button"><i class="fas fa-th-large"></i></button>
                </div>
            </div>

            @*Stock Count*@
            <div class="row mt-3">
                <div class="card card-stats d-flex justify-content-between">
                    <div class="card-body">
                        <div class="row d-flex align-items-center bord">
                            <div class="col-4">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                        <i class="fas fa-box"></i>
                                    </div>
                                    <div class="ms-3">
                                        <h4 class="text-dark mb-0">@ViewBag.InStock</h4>
                                        <small class="text-muted text-sm text-uppercase">In-Stock</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-ban"></i>
                                    </div>
                                    <div class="ms-3">
                                        <h4 class="text-dark mb-0">@ViewBag.OutOfStock</h4>
                                        <small class="text-muted text-sm text-uppercase">Out-of-stock</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-exclamation"></i>
                                    </div>
                                    <div class="ms-3">
                                        <h4 class="text-dark mb-0">@ViewBag.Critical</h4>
                                        <small class="text-muted text-sm text-uppercase">Critical</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Grid View*@
            <div id="dvGrid" class="row mt-3">
                <div class="d-flex justify-content-lg-around">
                    <div class="col-xl-12 col-lg-12">
                        <div class="cart-inner" id="dtProductList">
                            <div class="border-top border-bottom py-2">
                                <div class="row text-uppercase">
                                    <div class="col-3"><strong class="small">Product</strong></div>
                                    <div class="col-2 text-center"> <strong class="small">Category</strong></div>
                                    <div class="col-2 text-center"> <strong class="small">Price</strong></div>
                                    <div class="col-1 text-center"> <strong class="small">Stock Qty</strong></div>
                                    <div class="col-1 text-center"> <strong class="small">Critical Qty</strong></div>
                                    <div class="col-2 text-center"><strong class="small">Stock Status</strong></div>
                                    <div class="col-1 text-center"><strong class="small">Action</strong></div>
                                </div>
                            </div>
                            @foreach (var item in Model.PaginatedList())
                            {
                                <div class="row-item pt-4 pb-4 border-bottom">
                                    <div class="row text-left">
                                        <div class="item col-3">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="@String.Format("data:image/jpg;base64,{0}", item.Image)" alt="@item.Name" width="85">
                                                <div class="ms-3">
                                                    <a asp-controller="Products" asp-action="ViewProduct" asp-route-id="@item.Id">
                                                        <h6 class="mb-0 text-dark fw-normal">@item.Name</h6>
                                                        @*<span class="text-muted text-sm">&nbsp;</span>*@
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item col-2 text-center">@item.Category.Title</div>
                                        <div class="item col-2 text-center">Php @item.Price.ToString("#,##0.00")</div>
                                        <div class="item col-1 text-center">@item.StockQty</div>
                                        <div class="item col-1 text-center">@item.CriticalQty</div>
                                        <div class="item col-2 text-center"><span class="badge @item.InventoryStatus.Class">@item.InventoryStatus.Title</span></div>
                                        <div class="item col-1 text-center">
                                            <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="ViewProduct" asp-route-id="@item.Id">
                                                <i class="far fa-eye"></i>
                                            </a>
                                            <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="UpdateProduct" asp-route-id="@item.Id">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a class="btn btn-link text-danger text-hover-gray-3 p-0" asp-action="DeleteProduct" asp-route-id="@item.Id">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @*Thumbnail View*@
            <div id="dvThumbnail" class="row gy-5 mb-5 my-1" style="display: none;">
                @foreach (var item in Model.Products)
                {
                    <div class="item col-xl-3 col-md-2">
                        <div class="product">
                            <div class="image align-items-center justify-content-center bg-light">
                                @{
                                    if (item.StockStatusId == (int)StockStatusEnum.OutOfStock)
                                    {
                                        <div class="ribbon ribbon-warning text-uppercase mt-2">Sold Out</div>
                                        <img class="img-fluid" src="@String.Format("data:image/jpg;base64,{0}", item.Image)" alt="@item.Name">
                                    }
                                    else
                                    {
                                        if (item.IsSale)
                                        {
                                            <div class="ribbon ribbon-primary text-uppercase mt-2">Sale</div>
                                        }

                                        <img class="img-fluid" src="@String.Format("data:image/jpg;base64,{0}", item.Image)" alt="@item.Name">
                                    }
                                }
                                <div class="hover-overlay d-flex align-items-center justify-content-center">
                                    <div class="CTA d-flex align-items-center justify-content-center">
                                        <a asp-action="ViewProduct" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="View">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a asp-action="UpdateProduct" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Update">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a asp-action="DeleteProduct" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Delete">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3">
                                <small>
                                    <span class="badge @item.InventoryStatus.Class">@item.InventoryStatus.Title</span>
                                </small>
                                <a class="reset-anchor" asp-controller="StoreFront" asp-action="ViewProduct" asp-route-id="@item.Id">
                                    <h3 class="h6 mb-0 text-uppercase">@item.Name</h3>
                                </a><span class="text-muted">Php @item.Price</span>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @*Pagination*@
            <div class="row">
                <div class=" d-flex justify-content-between px-4 py-3 w-100">
                    <div class="hint-text">Showing <b>@Model.PaginatedList().Count()</b> out of <b>@Model.Products.Count()</b> entries</div>
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.PageCount(); i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div style="position: fixed; bottom: 10px; right: 10px">
                <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </section>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
    window.onscroll = function () { scrollFunction(); };

    $(document).ready(function () {
        $("#inptSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#dtProductList .row-item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            $("#dvThumbnail .item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function topFunction() {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("#btnGrid").click(function () {
            $("#dvThumbnail").hide();
            $("#dvGrid").show();
        });

        $("#btnThumbnail").click(function () {
            $("#dvGrid").hide();
            $("#dvThumbnail").show();
        });
    });
</script>