@model Product

@{
    ViewData["Title"] = "View Products";
}

<main class="py-5">
    <div class="container py-5">
        <div class="row gx-lg-5 border-bottom my-5">
            @*Images*@
            <div class="col-xl-7 col-lg-7">
                <img class="w-75" src="@String.Format("data:image/jpg;base64,{0}", Model.Image)" alt="@Model.Name">
            </div>
            @*Details*@
            <div class="col-xl-5 col-lg-5">
                <div class="my-lg-5 my-md-4">
                    <h2>@Model.Name</h2>
                    <ul class="list-inline mb-4">
                        <li class="list-inline-item">
                            <p class="h5 text-primary mb-0">Php @Model.Price</p>
                        </li>
                    </ul>
                    <p class="text-muted">@Model.Description</p>
                    <ul class="list-inline d-flex align-items-center my-4">
                        <li class="list-inline-item">
                            <div class="d-flex align-items-center">
                                <div class="quantity d-flex align-items-center me-4">
                                    <div class="dec-btn" onclick="decrease(this)">-</div>
                                    <input class="quantity-no" type="text" value="1">
                                    <div class="inc-btn" onclick="increase(this)">+</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="choices__inner"><select class="form-control js-modalsize choices__input" name="modalsize" hidden="" tabindex="-1" data-choice="active"><option value="small">Small</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="small" data-custom-properties="null" aria-selected="true">Small</div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--modalsize-ln-item-choice-1" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="large" data-select-text="" data-choice-selectable="" aria-selected="true">Large</div><div id="choices--modalsize-ln-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="medium" data-select-text="" data-choice-selectable="">Medium</div><div id="choices--modalsize-ln-item-choice-3" class="choices__item choices__item--choice is-selected choices__item--selectable" role="option" data-choice="" data-id="3" data-value="small" data-select-text="" data-choice-selectable="">Small</div><div id="choices--modalsize-ln-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="x-large" data-select-text="" data-choice-selectable="">X-Large</div></div></div></div>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-primary px-5" href="#"> <i class="fas fa-shopping-cart me-2"></i>Add to cart</a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-secondary px-5" href="#"> <i class="far fa-heart me-2"></i>Add to wishlist</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @*Reviews*@
        <div class="row gx-lg-5">
            <div class="d-flex me-2">
                <div class="ms-2">
                    <h4 class="mb-1">No reviews yet.</h4>
                    <p class="small text-gray-6 mb-1">How do you find this product? Be the first to share your thoughts.</p>
                </div>
            </div>
        </div>
    </div>
</main>

@*Modal*@
<div class="modal fade" id="productView" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body p-5 shadow position-relative">
                @*<div class="ribbon ribbon-primary text-uppercase mt-4">Sale</div>*@
                <div class="row align-items-center gx-5">
                    <div class="col-lg-6"><img class="img-fluid d-block" src="~/images/default-image.png" alt=""></div>
                    <div class="col-lg-6">
                        <button class="close modal-close p-4 border-0" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <svg class="svg-icon text-white mt-1">
                                    <use xlink:href="#close-1"> </use>
                                </svg>
                            </span>
                        </button>
                        <div class="my-lg-5 my-md-4">
                            <h2>Test Product</h2>
                            <ul class="list-inline mb-4">
                                <li class="list-inline-item">
                                    <p class="h5 text-primary mb-0">Php 1200.00</p>
                                </li>
                                @*<li class="list-inline-item">
                                        <p class="h5 fw-normal text-muted text-decoration-line-through mb-0">$90.00</p>
                                    </li>*@
                            </ul>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                            <ul class="list-inline d-flex align-items-center my-4">
                                <li class="list-inline-item">
                                    <div class="d-flex align-items-center">
                                        <div class="quantity d-flex align-items-center me-4">
                                            <div class="dec-btn" onclick="decrease(this)">-</div>
                                            <input class="quantity-no" type="text" value="1">
                                            <div class="inc-btn" onclick="increase(this)">+</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="choices__inner"><select class="form-control js-modalsize choices__input" name="modalsize" hidden="" tabindex="-1" data-choice="active"><option value="small">Small</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="small" data-custom-properties="null" aria-selected="true">Small</div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--modalsize-ln-item-choice-1" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="large" data-select-text="" data-choice-selectable="" aria-selected="true">Large</div><div id="choices--modalsize-ln-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="medium" data-select-text="" data-choice-selectable="">Medium</div><div id="choices--modalsize-ln-item-choice-3" class="choices__item choices__item--choice is-selected choices__item--selectable" role="option" data-choice="" data-id="3" data-value="small" data-select-text="" data-choice-selectable="">Small</div><div id="choices--modalsize-ln-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="x-large" data-select-text="" data-choice-selectable="">X-Large</div></div></div></div>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="btn btn-primary px-5" href="#"> <i class="fas fa-shopping-cart me-2"></i>Add to cart</a></li>
                                <li class="list-inline-item"><a class="btn btn-outline-secondary px-5" href="#"> <i class="far fa-heart me-2"></i>Add to wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; bottom: 10px; right: 10px;">
    <button onclick="topFunction()" id="btnTop" value="Back to Top" class="btn btn-outline-danger">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
</div>

<script>
    var btnTop = document.getElementById("btnTop");
    window.onload = function () { btnTop.style.display = "none"; }
</script>
